# Rerun jobs to achieve better magmom matching
---

Will take most magnetic slab of OER set and apply those magmoms to the other slabs

### Import Modules

In [1]:
import os
print(os.getcwd())
import sys

# #########################################################
from methods import get_df_features_targets
from methods import get_df_magmoms

/mnt/f/Dropbox/01_norskov/00_git_repos/PROJ_IrOx_OER/dft_workflow/run_slabs/rerun_magmoms

### Read Data

In [2]:
df_features_targets = get_df_features_targets()

df_magmoms = get_df_magmoms()
df_magmoms = df_magmoms.set_index("job_id")

In [3]:
for name_i, row_i in df_features_targets.iterrows():
    tmp = 42

# #####################################################
job_id_o_i = row_i[("data", "job_id_o", "", )]
job_id_oh_i = row_i[("data", "job_id_oh", "", )]
job_id_bare_i = row_i[("data", "job_id_bare", "", )]
# #####################################################

job_ids = [job_id_o_i, job_id_oh_i, job_id_bare_i]

In [4]:
df_magmoms.loc[job_ids]

,compenv,slab_id,ads,active_site,att_num,sum_magmoms,sum_abs_magmoms,sum_magmoms_pa,sum_abs_magmoms_pa
job_id,,,,,,,,,
menamaka_12,slac,wufulafe_03,o,58,1,-0.396,9.634,-0.006712,0.163288
sudubuwe_77,slac,wufulafe_03,oh,58,0,-2.028,8.764,-0.033800,0.146067
vunosepi_77,slac,wufulafe_03,bare,58,2,-1.994,8.442,-0.034379,0.145552