# Collect feature data into master dataframe
---

# Import Modules

In [1]:
import os
print(os.getcwd())
import sys

import pandas as pd

# #########################################################
from methods import get_df_octa_vol, get_df_eff_ox

/home/raulf2012/Dropbox/01_norskov/00_git_repos/PROJ_IrOx_OER/workflow/feature_engineering

# Read feature dataframes

In [2]:
df_octa_vol = get_df_octa_vol()

df_eff_ox = get_df_eff_ox()

# Setting proper indices for join

In [3]:
# df_eff_ox = df_eff_ox.set_index(["compenv", "slab_id", "ads", "active_site", "att_num", ], drop=False)
df_eff_ox = df_eff_ox.set_index(["compenv", "slab_id", "ads", "active_site", "att_num", ], drop=True)

# df_octa_vol = df_octa_vol.set_index(["compenv", "slab_id", "ads", "active_site", "att_num", ], drop=False)
df_octa_vol = df_octa_vol.set_index(["compenv", "slab_id", "ads", "active_site", "att_num", ], drop=True)

# Combine dataframes

In [4]:
df_list = [
    df_eff_ox,
    df_octa_vol,
    ]

df_features = pd.concat(df_list, axis=1)
df_features.head()

                                             eff_oxid_state  octa_vol
compenv slab_id     ads active_site att_num
nersc   fosurufu_23 o   43          1              7.333333  9.310264
                        45          1              7.333333  9.310264
        galopuba_86 o   21          1              6.000000  9.719644
        gubufafu_74 o   16          1              8.000000  8.732127
                        20          1              8.000000  8.732127

# Save data to pickle

In [5]:
root_path_i = os.path.join(
    os.environ["PROJ_irox_oer"],
    "workflow/feature_engineering")

# Pickling data ###########################################
import os; import pickle
directory = os.path.join(root_path_i, "out_data")
if not os.path.exists(directory): os.makedirs(directory)
path_i = os.path.join(root_path_i, "out_data/df_features.pickle")
with open(path_i, "wb") as fle:
    pickle.dump(df_features, fle)
# #########################################################

# #########################################################
import pickle; import os
with open(path_i, "rb") as fle:
    df_features = pickle.load(fle)
# #########################################################

In [6]:
from methods import get_df_features
get_df_features()

                                             eff_oxid_state  octa_vol
compenv slab_id     ads active_site att_num
nersc   fosurufu_23 o   43          1              7.333333  9.310264
                        45          1              7.333333  9.310264
        galopuba_86 o   21          1              6.000000  9.719644
        gubufafu_74 o   16          1              8.000000  8.732127
                        20          1              8.000000  8.732127
...                                                     ...       ...
slac    vuraruna_65 o   50          1                   NaN       NaN
        wefakuko_75 o   39          1                   NaN       NaN
                        40          1                   NaN       NaN
                        42          1                   NaN       NaN
                        43          1                   NaN       NaN

[99 rows x 2 columns]

In [7]:
# # #########################################################
# import pickle; import os
# path_i = os.path.join(
#     os.environ["PROJ_irox_oer"],
#     "workflow/feature_engineering",
#     "out_data/df_features.pickle")
# with open(path_i, "rb") as fle:
#     df_features = pickle.load(fle)
# # #########################################################

In [8]:
# # Pickling data ###########################################
# import os; import pickle
# directory = "out_data"
# if not os.path.exists(directory): os.makedirs(directory)
# with open(os.path.join(directory, "df_features.pickle"), "wb") as fle:
#     pickle.dump(df_features, fle)
# # #########################################################